body { 
        background-color: pink; 
        margin: 100px 100px;
    }
div {
        background-color: white;
        border-radius: 25px;
        outline: 1.5px solid pink;
        outline-offset: -7.5px;
        padding: 20px;
    }

    @media screen and (orientation: portrait) {
        body {
        margin: 25px 25px;
        }
        }
        

div.recommendations {
    display: flex;
    background-color:transparent;
    outline: disabled;
    margin-top: 10px;  
    text-wrap:wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    flex-wrap: flex;
    text-align: left;
     
}

#quiz-container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;

}

input[type="radio"] {
    vertical-align: center; 
    display: inline-block;
}

h3.recommendations {
    color:black;
    font-size:20px;
    font-weight: normal;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;

}
p {
    font-size: 20px;
    text-align: center;
    }
    
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    }

h2 {
    color: pink;
    text-align: center;
}
h1.secondary {
    color:pink;
    text-align: center;
    font-size: 50px;
    }
h3 {
    color:pink;
    text-align: center;
    font-size: 30px;
}
a {
    color:pink;
    text-align: center;
}
